.DS_Store
target
bin
build
out
.gradle
.springBeans
pom.xml
*.iml
*.ipr
*.iws
*.log
.classpath
.project
.settings/
.idea/
_site/
.bak/
*.dat

/samples/hello-world/vf.gf.dmn-events.cfg
/samples/hello-world/vf.gf.dmn-license.cfg
/vf.gf.dmn-events.cfg
/vf.gf.dmn-events.txt
/vf.gf.dmn-license.cfg

/BACKUP*
